# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/

# dotenv
.env

# Mac OS files
.DS_Store

# Node.js
node_modules/
